.checkout-container{
min-height:100vh;
}

.checkout-form-card{
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 8px 30px rgba(0,0,0,.1);
}

.payment-card{
background:#1e293b;
color:white;
padding:30px;
border-radius:20px;
position:sticky;
top:30px;
}

.custom-input{
height:50px;
border-radius:12px;
}

textarea.custom-input{
height:auto;
}

.price-row{
display:flex;
justify-content:space-between;
margin:18px 0;
font-size:17px;
}

.total-price{
font-size:22px;
font-weight:bold;
}

.pay-btn{
width:100%;
border:none;
padding:14px;
border-radius:12px;
font-size:18px;
font-weight:bold;
background:#0d6efd;
color:white;
transition:.3s;
}

.pay-btn:hover{
transform:translateY(-3px);
}