.farmer-page{
background:#f8fff8;
overflow:hidden;
}

.farmer-hero{

height:90vh;

display:flex;

align-items:center;

background:
linear-gradient(
135deg,
rgba(0,100,0,.8),
rgba(76,175,80,.8)
),
url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?q=80&w=1600");

background-size:cover;

background-position:center;

color:white;
}

.hero-content{

max-width:700px;

animation:fade 1s;
}

.hero-content h1{

font-size:55px;

font-weight:bold;

margin-bottom:20px;
}

.hero-content p{

font-size:20px;

line-height:1.8;
}

.hero-btn,.join-btn{

border:none;

padding:15px 35px;

margin-top:25px;

border-radius:30px;

font-size:18px;

font-weight:bold;

background:white;

color:green;

transition:.4s;
}

.hero-btn:hover,
.join-btn:hover{

transform:translateY(-5px);

box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.section-title{

font-size:40px;

font-weight:bold;

text-align:center;

margin:70px 0;
}

.process-card,
.benefit-box,
.stat-card{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

transition:.4s;

box-shadow:
0 5px 20px rgba(0,0,0,.1);
}

.process-card:hover,
.benefit-box:hover,
.stat-card:hover{

transform:translateY(-10px);
}

.process-icon{

font-size:45px;

margin-bottom:20px;

color:#4caf50;
}

.benefit-section{

padding:80px 0;
}

.stats-section{

padding:90px 0;

background:
linear-gradient(
135deg,
#2e7d32,
#4caf50
);

color:white;
}

.stat-card h1{

font-size:50px;
}

.join-section{

padding:120px 0;
}

.join-icon{

font-size:70px;

color:green;

margin-bottom:20px;
}

@keyframes fade{

from{

opacity:0;
transform:translateY(30px);

}

to{

opacity:1;
transform:translateY(0px);

}

}

